Analyse de sentiment : l’objectif est de prédire la note (entre 1 et 0) à partir du texte de la revue d’un film, pour les données issues de la base de données IMDB (50000 revues sur des films, données accessibles sur http://ai.stanford.edu/~amaas/data/sentiment/) ; découper l’ensemble de données en données d’apprentissage et données de test.

In [151]:
from sklearn.model_selection import train_test_split
from sklearn.utils import shuffle
import pandas as pd
import nltk
from nltk import word_tokenize
from nltk.corpus import stopwords
from nltk import stem
from nltk.stem.wordnet import WordNetLemmatizer
import string
from sklearn.utils import shuffle
nltk.download(['stopwords','punkt','averaged_perceptron_tagger'])
import warnings
warnings.filterwarnings("ignore")

[nltk_data] Downloading package stopwords to /home/malloc/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package punkt to /home/malloc/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     /home/malloc/nltk_data...
[nltk_data]   Package averaged_perceptron_tagger is already up-to-
[nltk_data]       date!

In [152]:
data_train = pd.read_csv('train.csv')
data_test = pd.read_csv('test.csv')

In [153]:
def getdata(data):
    data_d = [[str(i)] for i in  data['Text'].values[0:len(data)]]
    return data_d

In [154]:
def getlabel(data):
    label = [[float(i)] for i in  data['Sentiments'].values[0:len(data)]]
    return label

In [155]:
def cleanData(data):
    d=[]
    for sentence in getdata(data):
        stop_words = stopwords.words('english')
        wordwithoustop = ' '.join([word.lower() for word in word_tokenize(sentence[0]) if word not in stop_words + [string.punctuation]])
        word_clean = wordwithoustop.replace("< br / >", "").replace(" '' `` ", "").replace(")", "").replace("(","").replace("``", "") \
        .replace(" , ", ",").replace(".   ", ".").replace(" . ", ".").replace(" 's", "'s").replace(" .",".")\
        .replace("  ", " ").replace(".,", ".").replace(" '' ", " ").replace(" : ", ":").replace(".", " ")\
        .replace(",", " ").replace( ":", " ").replace(";", " ").replace("{", " ").replace("}", " ").replace("--", " ")\
        .replace("'", " ").replace("!"," ").replace("!", " ").replace("/", " ").replace("-", " ").replace("*", " ")
        l = WordNetLemmatizer()
        lstem = [l.lemmatize(i) for i in word_tokenize(word_clean)]
        d.append(" ".join(lstem))
    return pd.DataFrame(d,columns=['Text'])

In [156]:
dtrain = cleanData(data_train)
dtrain['label'] = [i[0] for i in getlabel(data_train)]
dtrain= shuffle(dtrain)
dtrain

                                                    Text  label
15500  this film really bad bad even christopher lee ...    0.0
12269  a small pleasure life walking old movie aisle ...    1.0
23288  i live ottawa film made i really wish n t this...    0.0
12590  i love killer insect movie great fun watch i w...    0.0
5737   amazing documentary saw original airdate dvd t...    1.0
...                                                  ...    ...
9580   one best movie drama i ever seen we lot acting...    1.0
20056  i n t usually comment thing need said where st...    0.0
5888   farrah fawcett superb powerful 1986 drama play...    1.0
772    this kind film i fascinated strange psychotic ...    1.0
16253  the worst chock full people really ought know ...    0.0

[25000 rows x 2 columns]

In [157]:
dtest = cleanData(data_test)
dtest['label'] = [i[0] for i in getlabel(data_test)]
dtest= shuffle(dtest)
dtest

                                                    Text  label
4996   i waiting see movie long finally got yesterday...    1.0
8704   michael sheen shine like afternoon sun brillia...    1.0
21773  show suck n t think even need say judging numb...    0.0
7576   movie simply amazing unfortunately portugal ev...    1.0
16948  i felt movie skammen directed ingmar bergman d...    0.0
...                                                  ...    ...
18009  one look rating ought tell movie voted shill a...    0.0
16897  i watched 1st scarecrow movie n t bag one thou...    0.0
8632   i seen play many time olivier branagh remains ...    1.0
19226  some good set design good song though like guy...    0.0
10391  now watching the advent child twice storyline ...    1.0

[25000 rows x 2 columns]